<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Wyze Email') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.wyze.wyze_email">
        </div>
        <label class="control-label">{{ _('Wyze Password') }}</label>
        <div class="controls">
            <input type="password" class="input-block-level" data-bind="value: settings.plugins.wyze.wyze_password">
        </div>
    </div>
</form>