<p>Connected to Wyze as {{ plugin_wyze_email|escape }}.</p>

<table class="table table-bordered table-hover wyze-table">
    <tbody>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Online</th>
            <th>Automation</th>
        </tr>
{%- for device_mac, device in plugin_wyze_devices.items() %}
        <tr>
            <th>{{ device.name }}</td>
            <td>{{ device.type }}</td>
            <td>{{ device.is_online }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn" data-bind="click: turnOnDevice.bind($data, '{{ device_mac }}');">Turn On</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-bind="">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>When a print starts</li>
                        <li>When a print ends<li>
                    </ul>
                    <button class="btn" data-bind="click: turnOffDevice.bind($data, '{{ device_mac }}');">Turn Off</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-bind="">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>When a print starts</li>
                        <li>When a print ends<li>
                    </ul>
                </div>
            </td>
        </tr>
{%- endfor %}
    </tbody>
</table>