.wyze-table {
    display: block;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

.wyze-table :is(td, th) {
    text-align: center !important;
    vertical-align: middle !important;
}
